In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Final_Prediction(1).csv',index_col = 0)
df

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds,Variant,"Region, subregion, country or area *",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,AFG,2022,34.350000,307.187500,14.005405,611.26800,66.000000,0.4,Medium,Afghanistan,...,374.257,248.539,150.287,195.837,101.294,268.266,329.563,203.017,-65.846,-1.600
1,ALB,2022,97.516667,100.000000,45.581081,6284.02700,98.000000,2.9,Medium,Albania,...,128.238,70.424,39.528,51.066,27.794,89.150,118.030,60.363,-8.000,-2.810
2,DZA,2022,69.720000,209.375000,47.770270,3672.46300,91.000000,1.9,Medium,Algeria,...,114.342,83.302,38.562,44.630,32.151,78.036,91.602,63.708,-9.999,-0.223
3,ASM,2022,97.300000,8146.235685,38.820414,16349.13741,83.857143,3.3,Medium,American Samoa,...,185.719,111.436,58.155,73.746,42.742,139.020,173.906,103.593,-0.810,-18.130
4,AND,2022,80.963009,8146.235685,58.586486,42713.07600,98.000000,2.9,Medium,Andorra,...,53.730,35.505,14.570,16.508,12.531,38.042,46.754,28.694,0.200,2.505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,VEN,2022,93.800000,2212.500000,54.994286,1617.76300,56.000000,0.9,Medium,Venezuela (Bolivarian Republic of),...,260.476,126.842,103.721,150.689,53.262,178.519,242.597,110.413,297.713,10.576
200,VNM,2022,91.480000,4571.250000,10.645714,4187.47100,83.000000,2.6,Medium,Viet Nam,...,208.388,91.773,70.637,102.044,37.847,128.483,181.797,73.932,-82.700,-0.842
201,YEM,2022,45.600000,353.125000,35.357143,587.40800,72.000000,0.7,Medium,Yemen,...,349.874,223.898,124.652,165.361,81.038,235.799,296.054,171.078,-29.998,-0.890
202,ZMB,2022,74.342857,40125.000000,20.568571,1195.77700,91.000000,2.0,Medium,Zambia,...,403.965,287.093,162.122,196.001,127.744,300.703,359.558,242.378,-5.000,-0.250
203,ZWE,2022,84.660000,71750.000000,29.422857,1757.98500,86.000000,1.7,Medium,Zimbabwe,...,486.961,365.883,226.274,269.632,189.764,382.439,449.363,325.386,-9.999,-0.612

In [4]:
import numpy as np
for columns in df.columns:
    df[columns].replace('...',np.nan, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 70 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Iso_Code                                                                                        204 non-null    object
 1   Year                                                                                            204 non-null    int64
 2   Literacy Rate                                                                                   204 non-null    float64
 3   Aids_Death                                                                                      204 non-null    float64
 4   Overweight                                                                                      204 non-null    float64
 5   GDP per Capita                                                                                  204 non-null    float64
 6   Hepatit Vaccination                                                                             204 non-null    float64
 7   Hospital Beds                                                                                   204 non-null    float64
 8   Variant                                                                                         204 non-null    object
 9   Region, subregion, country or area *                                                            204 non-null    object
 10  Notes                                                                                           36 non-null     float64
 11  Location code                                                                                   204 non-null    int64
 12  ISO2 Alpha-code                                                                                 203 non-null    object
 13  SDMX code**                                                                                     204 non-null    int64
 14  Type                                                                                            204 non-null    object
 15  Parent code                                                                                     204 non-null    int64
 16  Total Population, as of 1 January (thousands)                                                   204 non-null    float64
 17  Total Population, as of 1 July (thousands)                                                      204 non-null    float64
 18  Male Population, as of 1 July (thousands)                                                       204 non-null    float64
 19  Female Population, as of 1 July (thousands)                                                     204 non-null    float64
 20  Population Density, as of 1 July (persons per square km)                                        204 non-null    float64
 21  Population Sex Ratio, as of 1 July (males per 100 females)                                      204 non-null    float64
 22  Median Age, as of 1 July (years)                                                                204 non-null    float64
 23  Natural Change, Births minus Deaths (thousands)                                                 204 non-null    float64
 24  Rate of Natural Change (per 1,000 population)                                                   204 non-null    float64
 25  Population Change (thousands)                                                                   204 non-null    float64
 26  Population Growth Rate (percentage)                                                             204 non-null    float64
 27  Population Annual Doubling Time (years)                                                         140 non-null    object
 28  Births (thousands)                                                                              204 non-null    float64
 29  Births by women aged 15 to 19 (thousands)                                                       204 non-null    float64
 30  Crude Birth Rate (births per 1,000 population)                                                  204 non-null    float64
 31  Total Fertility Rate (live births per woman)                                                    204 non-null    float64
 32  Net Reproduction Rate (surviving daughters per woman)                                           204 non-null    float64
 33  Mean Age Childbearing (years)                                                                   204 non-null    float64
 34  Sex Ratio at Birth (males per 100 female births)                                                204 non-null    float64
 35  Total Deaths (thousands)                                                                        204 non-null    float64
 36  Male Deaths (thousands)                                                                         204 non-null    float64
 37  Female Deaths (thousands)                                                                       204 non-null    float64
 38  Crude Death Rate (deaths per 1,000 population)                                                  204 non-null    float64
 39  Life Expectancy at Birth, both sexes (years)                                                    204 non-null    float64
 40  Male Life Expectancy at Birth (years)                                                           204 non-null    float64
 41  Female Life Expectancy at Birth (years)                                                         204 non-null    float64
 42  Life Expectancy at Age 15, both sexes (years)                                                   204 non-null    float64
 43  Male Life Expectancy at Age 15 (years)                                                          204 non-null    float64
 44  Female Life Expectancy at Age 15 (years)                                                        204 non-null    float64
 45  Life Expectancy at Age 65, both sexes (years)                                                   204 non-null    float64
 46  Male Life Expectancy at Age 65 (years)                                                          204 non-null    float64
 47  Female Life Expectancy at Age 65 (years)                                                        204 non-null    float64
 48  Life Expectancy at Age 80, both sexes (years)                                                   204 non-null    float64
 49  Male Life Expectancy at Age 80 (years)                                                          204 non-null    float64
 50  Female Life Expectancy at Age 80 (years)                                                        204 non-null    float64
 51  Infant Deaths, under age 1 (thousands)                                                          204 non-null    float64
 52  Infant Mortality Rate (infant deaths per 1,000 live births)                                     204 non-null    float64
 53  Live Births Surviving to Age 1 (thousands)                                                      204 non-null    float64
 54  Under-Five Deaths, under age 5 (thousands)                                                      204 non-null    float64
 55  Under-Five Mortality (deaths under age 5 per 1,000 live births)                                 204 non-null    float64
 56  Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)                 204 non-null    float64
 57  Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)                   204 non-null    float64
 58  Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)               204 non-null    float64
 59  Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)                 204 non-null    float64
 60  Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)                   204 non-null    float64
 61  Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)               204 non-null    float64
 62  Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     204 non-null    float64
 63  Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      204 non-null    float64
 64  Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  204 non-null    float64
 65  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     204 non-null    float64
 66  Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      204 non-null    float64
 67  Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  204 non-null    float64
 68  Net Number of Migrants (thousands)                                                              204 non-null    float64
 69  Net Migration Rate (per 1,000 population)                                                       204 non-null    float64
dtypes: float64(60), int64(4), object(6)
memory usage: 113.2+ KB

In [6]:
test_set = df.drop(['Iso_Code', 'Variant','Region, subregion, country or area *','Notes','ISO2 Alpha-code',
                    'SDMX code**', 'Type','Parent code','Population Annual Doubling Time (years)'], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 61 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Year                                                                                            204 non-null    int64
 1   Literacy Rate                                                                                   204 non-null    float64
 2   Aids_Death                                                                                      204 non-null    float64
 3   Overweight                                                                                      204 non-null    float64
 4   GDP per Capita                                                                                  204 non-null    float64
 5   Hepatit Vaccination                                                                             204 non-null    float64
 6   Hospital Beds                                                                                   204 non-null    float64
 7   Location code                                                                                   204 non-null    int64
 8   Total Population, as of 1 January (thousands)                                                   204 non-null    float64
 9   Total Population, as of 1 July (thousands)                                                      204 non-null    float64
 10  Male Population, as of 1 July (thousands)                                                       204 non-null    float64
 11  Female Population, as of 1 July (thousands)                                                     204 non-null    float64
 12  Population Density, as of 1 July (persons per square km)                                        204 non-null    float64
 13  Population Sex Ratio, as of 1 July (males per 100 females)                                      204 non-null    float64
 14  Median Age, as of 1 July (years)                                                                204 non-null    float64
 15  Natural Change, Births minus Deaths (thousands)                                                 204 non-null    float64
 16  Rate of Natural Change (per 1,000 population)                                                   204 non-null    float64
 17  Population Change (thousands)                                                                   204 non-null    float64
 18  Population Growth Rate (percentage)                                                             204 non-null    float64
 19  Births (thousands)                                                                              204 non-null    float64
 20  Births by women aged 15 to 19 (thousands)                                                       204 non-null    float64
 21  Crude Birth Rate (births per 1,000 population)                                                  204 non-null    float64
 22  Total Fertility Rate (live births per woman)                                                    204 non-null    float64
 23  Net Reproduction Rate (surviving daughters per woman)                                           204 non-null    float64
 24  Mean Age Childbearing (years)                                                                   204 non-null    float64
 25  Sex Ratio at Birth (males per 100 female births)                                                204 non-null    float64
 26  Total Deaths (thousands)                                                                        204 non-null    float64
 27  Male Deaths (thousands)                                                                         204 non-null    float64
 28  Female Deaths (thousands)                                                                       204 non-null    float64
 29  Crude Death Rate (deaths per 1,000 population)                                                  204 non-null    float64
 30  Life Expectancy at Birth, both sexes (years)                                                    204 non-null    float64
 31  Male Life Expectancy at Birth (years)                                                           204 non-null    float64
 32  Female Life Expectancy at Birth (years)                                                         204 non-null    float64
 33  Life Expectancy at Age 15, both sexes (years)                                                   204 non-null    float64
 34  Male Life Expectancy at Age 15 (years)                                                          204 non-null    float64
 35  Female Life Expectancy at Age 15 (years)                                                        204 non-null    float64
 36  Life Expectancy at Age 65, both sexes (years)                                                   204 non-null    float64
 37  Male Life Expectancy at Age 65 (years)                                                          204 non-null    float64
 38  Female Life Expectancy at Age 65 (years)                                                        204 non-null    float64
 39  Life Expectancy at Age 80, both sexes (years)                                                   204 non-null    float64
 40  Male Life Expectancy at Age 80 (years)                                                          204 non-null    float64
 41  Female Life Expectancy at Age 80 (years)                                                        204 non-null    float64
 42  Infant Deaths, under age 1 (thousands)                                                          204 non-null    float64
 43  Infant Mortality Rate (infant deaths per 1,000 live births)                                     204 non-null    float64
 44  Live Births Surviving to Age 1 (thousands)                                                      204 non-null    float64
 45  Under-Five Deaths, under age 5 (thousands)                                                      204 non-null    float64
 46  Under-Five Mortality (deaths under age 5 per 1,000 live births)                                 204 non-null    float64
 47  Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)                 204 non-null    float64
 48  Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)                   204 non-null    float64
 49  Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)               204 non-null    float64
 50  Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)                 204 non-null    float64
 51  Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)                   204 non-null    float64
 52  Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)               204 non-null    float64
 53  Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     204 non-null    float64
 54  Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      204 non-null    float64
 55  Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  204 non-null    float64
 56  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     204 non-null    float64
 57  Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      204 non-null    float64
 58  Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  204 non-null    float64
 59  Net Number of Migrants (thousands)                                                              204 non-null    float64
 60  Net Migration Rate (per 1,000 population)                                                       204 non-null    float64
dtypes: float64(59), int64(2)
memory usage: 98.8 KB

In [9]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 51 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Year                                                                                            204 non-null    int64
 1   Literacy Rate                                                                                   204 non-null    float64
 2   Aids_Death                                                                                      204 non-null    float64
 3   Overweight                                                                                      204 non-null    float64
 4   GDP per Capita                                                                                  204 non-null    float64
 5   Hepatit Vaccination                                                                             204 non-null    float64
 6   Hospital Beds                                                                                   204 non-null    float64
 7   Location code                                                                                   204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                      204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                        204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                      204 non-null    float64
 11  Median Age, as of 1 July (years)                                                                204 non-null    float64
 12  Natural Change, Births minus Deaths (thousands)                                                 204 non-null    float64
 13  Rate of Natural Change (per 1,000 population)                                                   204 non-null    float64
 14  Population Change (thousands)                                                                   204 non-null    float64
 15  Population Growth Rate (percentage)                                                             204 non-null    float64
 16  Births (thousands)                                                                              204 non-null    float64
 17  Births by women aged 15 to 19 (thousands)                                                       204 non-null    float64
 18  Crude Birth Rate (births per 1,000 population)                                                  204 non-null    float64
 19  Total Fertility Rate (live births per woman)                                                    204 non-null    float64
 20  Net Reproduction Rate (surviving daughters per woman)                                           204 non-null    float64
 21  Mean Age Childbearing (years)                                                                   204 non-null    float64
 22  Sex Ratio at Birth (males per 100 female births)                                                204 non-null    float64
 23  Total Deaths (thousands)                                                                        204 non-null    float64
 24  Crude Death Rate (deaths per 1,000 population)                                                  204 non-null    float64
 25  Life Expectancy at Birth, both sexes (years)                                                    204 non-null    float64
 26  Male Life Expectancy at Birth (years)                                                           204 non-null    float64
 27  Life Expectancy at Age 15, both sexes (years)                                                   204 non-null    float64
 28  Male Life Expectancy at Age 15 (years)                                                          204 non-null    float64
 29  Female Life Expectancy at Age 15 (years)                                                        204 non-null    float64
 30  Female Life Expectancy at Age 65 (years)                                                        204 non-null    float64
 31  Life Expectancy at Age 80, both sexes (years)                                                   204 non-null    float64
 32  Male Life Expectancy at Age 80 (years)                                                          204 non-null    float64
 33  Female Life Expectancy at Age 80 (years)                                                        204 non-null    float64
 34  Infant Deaths, under age 1 (thousands)                                                          204 non-null    float64
 35  Infant Mortality Rate (infant deaths per 1,000 live births)                                     204 non-null    float64
 36  Live Births Surviving to Age 1 (thousands)                                                      204 non-null    float64
 37  Under-Five Deaths, under age 5 (thousands)                                                      204 non-null    float64
 38  Under-Five Mortality (deaths under age 5 per 1,000 live births)                                 204 non-null    float64
 39  Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)                 204 non-null    float64
 40  Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)                   204 non-null    float64
 41  Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)               204 non-null    float64
 42  Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)                 204 non-null    float64
 43  Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     204 non-null    float64
 44  Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      204 non-null    float64
 45  Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  204 non-null    float64
 46  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     204 non-null    float64
 47  Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      204 non-null    float64
 48  Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  204 non-null    float64
 49  Net Number of Migrants (thousands)                                                              204 non-null    float64
 50  Net Migration Rate (per 1,000 population)                                                       204 non-null    float64
dtypes: float64(49), int64(2)
memory usage: 82.9 KB

In [10]:
test_set = test_set.drop(['Male Life Expectancy at Age 15 (years)', 
                            'Life Expectancy at Age 15, both sexes (years)',
                            'Male Life Expectancy at Age 80 (years)',
                            'Female Life Expectancy at Age 80 (years)',
                            'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
                            'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
                            'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
                            'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
                            'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
                            'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 41 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Natural Change, Births minus Deaths (thousands)                                              204 non-null    float64
 13  Rate of Natural Change (per 1,000 population)                                                204 non-null    float64
 14  Population Change (thousands)                                                                204 non-null    float64
 15  Population Growth Rate (percentage)                                                          204 non-null    float64
 16  Births (thousands)                                                                           204 non-null    float64
 17  Births by women aged 15 to 19 (thousands)                                                    204 non-null    float64
 18  Crude Birth Rate (births per 1,000 population)                                               204 non-null    float64
 19  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 20  Net Reproduction Rate (surviving daughters per woman)                                        204 non-null    float64
 21  Mean Age Childbearing (years)                                                                204 non-null    float64
 22  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 23  Total Deaths (thousands)                                                                     204 non-null    float64
 24  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 25  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 26  Male Life Expectancy at Birth (years)                                                        204 non-null    float64
 27  Female Life Expectancy at Age 15 (years)                                                     204 non-null    float64
 28  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 29  Life Expectancy at Age 80, both sexes (years)                                                204 non-null    float64
 30  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 31  Infant Mortality Rate (infant deaths per 1,000 live births)                                  204 non-null    float64
 32  Live Births Surviving to Age 1 (thousands)                                                   204 non-null    float64
 33  Under-Five Deaths, under age 5 (thousands)                                                   204 non-null    float64
 34  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 35  Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)              204 non-null    float64
 36  Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)              204 non-null    float64
 37  Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)  204 non-null    float64
 38  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 39  Net Number of Migrants (thousands)                                                           204 non-null    float64
 40  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(39), int64(2)
memory usage: 66.9 KB

In [11]:
test_set = test_set.drop(['Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)', 
                            'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
                            'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 38 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Natural Change, Births minus Deaths (thousands)                                              204 non-null    float64
 13  Rate of Natural Change (per 1,000 population)                                                204 non-null    float64
 14  Population Change (thousands)                                                                204 non-null    float64
 15  Population Growth Rate (percentage)                                                          204 non-null    float64
 16  Births (thousands)                                                                           204 non-null    float64
 17  Births by women aged 15 to 19 (thousands)                                                    204 non-null    float64
 18  Crude Birth Rate (births per 1,000 population)                                               204 non-null    float64
 19  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 20  Net Reproduction Rate (surviving daughters per woman)                                        204 non-null    float64
 21  Mean Age Childbearing (years)                                                                204 non-null    float64
 22  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 23  Total Deaths (thousands)                                                                     204 non-null    float64
 24  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 25  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 26  Male Life Expectancy at Birth (years)                                                        204 non-null    float64
 27  Female Life Expectancy at Age 15 (years)                                                     204 non-null    float64
 28  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 29  Life Expectancy at Age 80, both sexes (years)                                                204 non-null    float64
 30  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 31  Infant Mortality Rate (infant deaths per 1,000 live births)                                  204 non-null    float64
 32  Live Births Surviving to Age 1 (thousands)                                                   204 non-null    float64
 33  Under-Five Deaths, under age 5 (thousands)                                                   204 non-null    float64
 34  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 35  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 36  Net Number of Migrants (thousands)                                                           204 non-null    float64
 37  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(36), int64(2)
memory usage: 62.2 KB

In [12]:
test_set = test_set.drop(['Male Life Expectancy at Birth (years)', 
                            'Female Life Expectancy at Age 15 (years)',
                            'Infant Mortality Rate (infant deaths per 1,000 live births)',
                            'Rate of Natural Change (per 1,000 population)',
                            'Crude Birth Rate (births per 1,000 population)'
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 33 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Natural Change, Births minus Deaths (thousands)                                              204 non-null    float64
 13  Population Change (thousands)                                                                204 non-null    float64
 14  Population Growth Rate (percentage)                                                          204 non-null    float64
 15  Births (thousands)                                                                           204 non-null    float64
 16  Births by women aged 15 to 19 (thousands)                                                    204 non-null    float64
 17  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 18  Net Reproduction Rate (surviving daughters per woman)                                        204 non-null    float64
 19  Mean Age Childbearing (years)                                                                204 non-null    float64
 20  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 21  Total Deaths (thousands)                                                                     204 non-null    float64
 22  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 23  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 24  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 25  Life Expectancy at Age 80, both sexes (years)                                                204 non-null    float64
 26  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 27  Live Births Surviving to Age 1 (thousands)                                                   204 non-null    float64
 28  Under-Five Deaths, under age 5 (thousands)                                                   204 non-null    float64
 29  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 30  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 31  Net Number of Migrants (thousands)                                                           204 non-null    float64
 32  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(31), int64(2)
memory usage: 54.2 KB

In [13]:
test_set = test_set.drop(['Total Deaths (thousands)', 
                            'Natural Change, Births minus Deaths (thousands)'
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 31 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Population Change (thousands)                                                                204 non-null    float64
 13  Population Growth Rate (percentage)                                                          204 non-null    float64
 14  Births (thousands)                                                                           204 non-null    float64
 15  Births by women aged 15 to 19 (thousands)                                                    204 non-null    float64
 16  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 17  Net Reproduction Rate (surviving daughters per woman)                                        204 non-null    float64
 18  Mean Age Childbearing (years)                                                                204 non-null    float64
 19  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 20  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 21  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 22  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 23  Life Expectancy at Age 80, both sexes (years)                                                204 non-null    float64
 24  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 25  Live Births Surviving to Age 1 (thousands)                                                   204 non-null    float64
 26  Under-Five Deaths, under age 5 (thousands)                                                   204 non-null    float64
 27  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 28  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 29  Net Number of Migrants (thousands)                                                           204 non-null    float64
 30  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(29), int64(2)
memory usage: 51.0 KB

In [14]:
test_set = test_set.drop(['Births (thousands)', 
                            'Live Births Surviving to Age 1 (thousands)',
                            'Births by women aged 15 to 19 (thousands)'
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 28 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Population Change (thousands)                                                                204 non-null    float64
 13  Population Growth Rate (percentage)                                                          204 non-null    float64
 14  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 15  Net Reproduction Rate (surviving daughters per woman)                                        204 non-null    float64
 16  Mean Age Childbearing (years)                                                                204 non-null    float64
 17  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 18  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 19  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 20  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 21  Life Expectancy at Age 80, both sexes (years)                                                204 non-null    float64
 22  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 23  Under-Five Deaths, under age 5 (thousands)                                                   204 non-null    float64
 24  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 25  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 26  Net Number of Migrants (thousands)                                                           204 non-null    float64
 27  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(26), int64(2)
memory usage: 46.2 KB

In [15]:
test_set = test_set.drop(['Life Expectancy at Age 80, both sexes (years)', 
                            'Net Reproduction Rate (surviving daughters per woman)',
                            'Under-Five Deaths, under age 5 (thousands)'
                            ], axis=1)
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 25 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Year                                                                                         204 non-null    int64
 1   Literacy Rate                                                                                204 non-null    float64
 2   Aids_Death                                                                                   204 non-null    float64
 3   Overweight                                                                                   204 non-null    float64
 4   GDP per Capita                                                                               204 non-null    float64
 5   Hepatit Vaccination                                                                          204 non-null    float64
 6   Hospital Beds                                                                                204 non-null    float64
 7   Location code                                                                                204 non-null    int64
 8   Total Population, as of 1 July (thousands)                                                   204 non-null    float64
 9   Population Density, as of 1 July (persons per square km)                                     204 non-null    float64
 10  Population Sex Ratio, as of 1 July (males per 100 females)                                   204 non-null    float64
 11  Median Age, as of 1 July (years)                                                             204 non-null    float64
 12  Population Change (thousands)                                                                204 non-null    float64
 13  Population Growth Rate (percentage)                                                          204 non-null    float64
 14  Total Fertility Rate (live births per woman)                                                 204 non-null    float64
 15  Mean Age Childbearing (years)                                                                204 non-null    float64
 16  Sex Ratio at Birth (males per 100 female births)                                             204 non-null    float64
 17  Crude Death Rate (deaths per 1,000 population)                                               204 non-null    float64
 18  Life Expectancy at Birth, both sexes (years)                                                 204 non-null    float64
 19  Female Life Expectancy at Age 65 (years)                                                     204 non-null    float64
 20  Infant Deaths, under age 1 (thousands)                                                       204 non-null    float64
 21  Under-Five Mortality (deaths under age 5 per 1,000 live births)                              204 non-null    float64
 22  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  204 non-null    float64
 23  Net Number of Migrants (thousands)                                                           204 non-null    float64
 24  Net Migration Rate (per 1,000 population)                                                    204 non-null    float64
dtypes: float64(23), int64(2)
memory usage: 41.4 KB

In [16]:
test_set.to_csv('predicts.csv')